.daily-goal-card{
    background:white;
    padding:20px;
    margin:20px;
    border-radius:15px;
}

.daily-goal-card h2{
    margin-bottom:15px;
}

.daily-goal-card ul{
    list-style:none;
    padding:0;
}

.daily-goal-card li{
    margin:10px 0;
    font-size:18px;
}
.daily-goal-card li {
  cursor: pointer;
  margin: 12px 0;
  transition: 0.2s;
}

.daily-goal-card li:hover {
  transform: translateX(5px);
}

.daily-goal-card li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}